@charset "utf-8";
.subtitle {
	background-color: #09F;
	height: 40px;
	width: 100%;
	font-weight: bold;
	line-height: 50px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	display: block;
}
.subcontent {
	height: auto;
	width: 1000px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#canvas #main #body .subcontent #from #data_set {
	height: 200px;
	width: 100%;
	border: 1px solid #D5D5D5;
}

#canvas #main #body .subcontent #from #data_set #d1 {
	height: 200px;
	width: 500px;
	float: left;
	line-height: 200px;
	text-align: center;
}


#canvas #main #body .subcontent #from #data_set #d2 {
	float: right;
	height: 200px;
	width: 400px;
	text-align: center;
}
#canvas #main #body .subcontent #from #data_set #or {
	height: 200px;
	width: 25px;
	float: left;
	line-height: 200px;
	margin-left: 10px;
}

#canvas #main #body .subcontent #from #anam {
	height: 150px;
	width: 100%;
	text-align: center;
	border: 1px solid #D5D5D5;
}
#canvas #main #body #a {
	margin-top: 15px;
	margin-bottom: 15px;
}
